


.meeting-page-container {
    display: flex;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
}

.recorder, .meeting-note {
    flex: 1;
    padding: 20px;
    overflow: auto; /* Adds scroll if content overflows */
}

.recorder {
    border-right: 2px solid #ccc; /* Visual separation between components */
}

.title {
  font-size: 35px; /* example size, adjust as needed */
  color: #333; /* example color, adjust as needed */
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 16px; /* space below the title */
  /* add more styling as needed */
}
